In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\ayush\Downloads\cardekho_dataset.csv.zip",index_col=[0])

In [3]:
df.head(5)

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [5]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [7]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [8]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [9]:
df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [10]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [11]:
num_features=[feature for feature in df.columns if df[feature].dtype != 'O']
print('Number o numeric features: ',len(num_features))
cat_features=[feature for feature in df.columns if df[feature].dtype == 'O']
print('Number of categorical features: ',len(cat_features))
dis_features=[feature for feature in num_features if len(df[feature].unique()) <= 25]
print('Number of discrete features: ',len(dis_features))
con_features=[feature for feature in num_features if len(df[feature].unique()) > 25]
print('Number of continous features: ',len(con_features))

Number o numeric features:  7
Number of categorical features:  4
Number of discrete features:  2
Number of continous features:  5

In [12]:
num_features

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [13]:
cat_features

['model', 'seller_type', 'fuel_type', 'transmission_type']

In [14]:
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

In [15]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(df['model'])

In [17]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [18]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
num_columns=X.select_dtypes(exclude='object').columns
oh_columns=['model','seller_type','fuel_type','transmission_type']

num_transformer= StandardScaler()
oh_transformer=OneHotEncoder(drop='first')
processor=ColumnTransformer(
    [  ("OneHotEncoder",oh_transformer,oh_columns),
       ("StandardScaler",num_transformer,num_columns)],remainder='passthrough')

In [19]:
X=processor.fit_transform(X)

In [20]:
pd.DataFrame(X)

                                                       0
0        (0, 6)\t1.0\n  (0, 119)\t1.0\n  (0, 124)\t1....
1        (0, 53)\t1.0\n  (0, 119)\t1.0\n  (0, 124)\t1...
2        (0, 117)\t1.0\n  (0, 119)\t1.0\n  (0, 124)\t...
3        (0, 6)\t1.0\n  (0, 119)\t1.0\n  (0, 124)\t1....
4        (0, 37)\t1.0\n  (0, 121)\t1.0\n  (0, 125)\t1...
...                                                  ...
15406    (0, 116)\t1.0\n  (0, 124)\t1.0\n  (0, 125)\t...
15407    (0, 41)\t1.0\n  (0, 124)\t1.0\n  (0, 125)\t1...
15408    (0, 76)\t1.0\n  (0, 121)\t1.0\n  (0, 125)\t1...
15409    (0, 113)\t1.0\n  (0, 121)\t1.0\n  (0, 125)\t...
15410    (0, 24)\t1.0\n  (0, 124)\t1.0\n  (0, 126)\t-...

[15411 rows x 1 columns]

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [22]:
X_train.shape , X_test.shape

((12328, 133), (3083, 133))

In [23]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\ayush\anaconda3\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\ayush\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\ayush\anaconda3\lib\site-packages (from xgboost) (1.10.1)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [25]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)  
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_value=r2_score(true,predicted)
    return mae,rmse,r2_value

In [26]:
models={
    'Linear Regression' : LinearRegression(),
    'Lasso' : Lasso(),
    'Ridge' : Ridge(),
    'K-Neighbors Regression' : KNeighborsRegressor(),
    'Decision Tree Regression' : DecisionTreeRegressor(),
    'RandomForest Regression' : RandomForestRegressor(),
     'Adaboost Regression': AdaBoostRegressor(),
    'Gradient Regression': GradientBoostingRegressor(),
     'XgBoost Regressor': XGBRegressor()}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    model_train_mae,model_train_rmse,model_train_r2_score=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2_score=evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for training set:')
    print("-Root Mean Squared Error: ",format(model_train_rmse))
    print("-Mean Absolute Error: " ,format(model_train_mae))
    print("-R2 score: ",format(model_train_r2_score))

    print('------------------------------------')

    print('Model performance for test set:')
    print("-Root Mean Squared Error: ",format(model_test_rmse))
    print("-Mean Absolute Error: " ,format(model_test_mae))
    print("-R2 score: ",format(model_test_r2_score))

    print('\n')

Linear Regression
Model performance for training set:
-Root Mean Squared Error:  344702.22940599645
-Mean Absolute Error:  167198.6775628104
-R2 score:  0.8534962630326945
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  396962.1053455779
-Mean Absolute Error:  179449.78432074006
-R2 score:  0.7906711943985201

c:\Users\ayush\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:589: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 122773284741598.62, tolerance: 999843684163.8467
  model = cd_fast.sparse_enet_coordinate_descent(

Lasso
Model performance for training set:
-Root Mean Squared Error:  344703.1931405804
-Mean Absolute Error:  167199.0443612791
-R2 score:  0.8534954438275759
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  401575.7318312411
-Mean Absolute Error:  180013.62147844955
-R2 score:  0.7857771396246415


Ridge
Model performance for training set:
-Root Mean Squared Error:  395805.61617784144
-Mean Absolute Error:  185877.99636423448
-R2 score:  0.8068367861590378
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  408564.0636118638
-Mean Absolute Error:  196998.67817228887
-R2 score:  0.778256333793767


K-Neighbors Regression
Model performance for training set:
-Root Mean Squared Error:  319379.94587643375
-Mean Absolute Error:  86419.19208306295
-R2 score:  0.8742303639861838
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  250123.75023171815
-Mean Absolute Error:  105756.31689912423
-R2 score:  0.9168923966800252


Decision Tree Regression
Model performance for training set:
-Root Mean Squared Error:  20797.23516567643
-Mean Absolute Error:  5164.819922128488
-R2 score:  0.9994666998284044
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  291571.799209936
-Mean Absolute Error:  121063.99881068223
-R2 score:  0.8870667234924096


RandomForest Regression
Model performance for training set:
-Root Mean Squared Error:  125832.25135105911
-Mean Absolute Error:  38679.244474034866
-R2 score:  0.9804770945048655
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  215181.32822066918
-Mean Absolute Error:  99440.63201345273
-R2 score:  0.9384908022481661


Adaboost Regression
Model performance for training set:
-Root Mean Squared Error:  492324.6022475124
-Mean Absolute Error:  396465.88093099033
-R2 score:  0.7011428878683372
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  517127.04047101
-Mean Absolute Error:  411213.0424968759
-R2 score:  0.6447571137252814


Gradient Regression
Model performance for training set:
-Root Mean Squared Error:  203437.72209343768
-Mean Absolute Error:  115044.59608393845
-R2 score:  0.9489702445743572
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  249765.00380858162
-Mean Absolute Error:  129311.87648299358
-R2 score:  0.9171306241514455


XgBoost Regressor
Model performance for training set:
-Root Mean Squared Error:  108490.21007177238
-Mean Absolute Error:  71061.24563303556
-R2 score:  0.9854875205295857
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  194436.85800359337
-Mean Absolute Error:  95279.79850693318
-R2 score:  0.9497786845693462

In [27]:
rf_params={
      "max_depth":[2,3,5,10.12,15],
      "max_features":[5,8,10,'auto',15],
      "min_samples_split":[2,5,8,15,18,20],
    "n_estimators":[100,200,500,1000]}
gb_params={
       "loss":['squared_error','huber','absolute_error'],
       "criterion":['friedman_mse','squared_error','mse'],
       "n_estimators":[100,200,500,1000],
       "max_depth":[4,5,8,10,12],
       "learning_rate":[0.1,0.2,0.3,0.6]}
xg_params={
      "learning_rate":[0.1,0.2,0.3],
     "max_depth":[2,5,8,12,20],
     "n_estimators":[100,200,400,600],
     "colsample_bytree":[0.5,0.8,1,0.3]}

In [28]:
randomCV_model=[('RF',RandomForestRegressor(),rf_params),
               ('GradientBoost',GradientBoostingRegressor(),gb_params) ,
                ('XGBoost',XGBRegressor(),xg_params)]

In [29]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,params in randomCV_model:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,
                              n_iter=100,
                              cv=3,
                              verbose=3,
                              n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name]=random.best_params_

for model_name in model_param:
    print(f"-----------------------Best Parameters for {model_name}------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

KeyboardInterrupt:

In [ ]:
models={
    'RandomForest Regression' : RandomForestRegressor(n_estimators=100,min_samples_split=2,
                                                     max_features=5,max_depth=15),
    'GradientBoosting Regression' : GradientBoostingRegressor(loss='huber',criterion='friedman_mse',n_estimators=500,
                                                              max_depth=12,learning_rate=0.1),
    'XGBoost Regression': XGBRegressor(n_estimators=400,max_depth=5,learning_rate=0.3,colsample_bytree=0.5)
    }

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    model_train_mae,model_train_rmse,model_train_r2_score=evaluate_model(y_train,y_train_pred)
    model_test_mae,model_test_rmse,model_test_r2_score=evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for training set:')
    print("-Root Mean Squared Error: ",format(model_train_rmse))
    print("-Mean Absolute Error: " ,format(model_train_mae))
    print("-R2 score: ",format(model_train_r2_score))

    print('------------------------------------')

    print('Model performance for test set:')
    print("-Root Mean Squared Error: ",format(model_test_rmse))
    print("-Mean Absolute Error: " ,format(model_test_mae))
    print("-R2 score: ",format(model_test_r2_score))

    print('\n')

RandomForest Regression
Model performance for training set:
-Root Mean Squared Error:  139738.28674428095
-Mean Absolute Error:  56537.29389985715
-R2 score:  0.9759236112684345
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  206134.76807323573
-Mean Absolute Error:  97096.76294174057
-R2 score:  0.9435539712227478


GradientBoosting Regression
Model performance for training set:
-Root Mean Squared Error:  24420.478172343926
-Mean Absolute Error:  6559.7361743648435
-R2 score:  0.9992646927548974
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  297604.7285119274
-Mean Absolute Error:  108960.05729143429
-R2 score:  0.8823449563308299


XGBoost Regression
Model performance for training set:
-Root Mean Squared Error:  78588.5831024235
-Mean Absolute Error:  56302.43296953581
-R2 score:  0.9923848329310117
------------------------------------
Model performance for test set:
-Root Mean Squared Error:  311187.27797312057
-Mean Absolute Error:  102943.24448969145
-R2 score:  0.871360435126678

In [ ]:
import pickle
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [32]:
model_best =[
    ('preprocessor', processor),
    ('regressor', RandomForestRegressor(n_estimators=100, max_depth=15, max_features=10))
]